# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/



# Test outputs
test_results/

# Datasets (usually too large for git)
datasets/

# IDE settings
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Jupyter Notebook
.ipynb_checkpoints/

# Distribution / packaging
dist/
build/
*.egg-info/
